@font-face {
  font-family: 'Libertinus Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Libertinus Regular'), url(https://github.com/alif-type/libertinus/blob/master/LibertinusSans-Regular.otf) format('truetype');
}
